[submodule "src/amr/amr-reader"]
	path = src/amr/amr-reader
	url = https://github.com/panx27/amr-reader.git
[submodule "src/lm-scorer"]
	path = src/lm_scorer
	url = git@github.com:dldk-gael/lm-scorer.git
