/lm_heuristic/.ipynb_checkpoints/test-checkpoint.ipynb
/transformers_test.ipynb
/data/amr/graphs/3a149a14-6e08-4980-aed6-0cbc83ddec02.png
/data/amr/graphs/7766617c-7954-43cf-b946-060787fe269f.png
/script/grammamvp.py
/.ipynb_checkpoints/transformers_test-checkpoint.ipynb
*.pyc
*.pytest_cache 
*DS_store
lm-heuristic.code-workspace
/.vscode/*
/.mypy_cache/*
.vscode/settings.json
src/lm_heuristic.egg-info/dependency_links.txt
src/lm_heuristic.egg-info/PKG-INFO
src/lm_heuristic.egg-info/requires.txt
src/lm_heuristic.egg-info/SOURCES.txt
src/lm_heuristic.egg-info/top_level.txt
server/dump.rdb
dump.rdb
dump.rdb
