/lm_heuristic/.ipynb_checkpoints/test-checkpoint.ipynb
/transformers_test.ipynb
/data/amr/graphs/3a149a14-6e08-4980-aed6-0cbc83ddec02.png
/data/amr/graphs/7766617c-7954-43cf-b946-060787fe269f.png
/script/grammamvp.py
/.ipynb_checkpoints/transformers_test-checkpoint.ipynb
*.pyc
*.pytest_cache 
*DS_store
lm-heuristic.code-workspace
/.vscode/*
/.mypy_cache/*
.vscode/settings.json
src/lm_heuristic.egg-info/dependency_links.txt
src/lm_heuristic.egg-info/PKG-INFO
src/lm_heuristic.egg-info/requires.txt
src/lm_heuristic.egg-info/SOURCES.txt
src/lm_heuristic.egg-info/top_level.txt
server/dump.rdb
dump.rdb
.ipynb_checkpoints/feature_grammar_test-checkpoint.ipynb
model_weights/universal_sentence_encoder
model_weights/universal-sentence-encoder/saved_model.pb
model_weights/universal-sentence-encoder/variables/variables.data-00000-of-00001
model_weights/universal-sentence-encoder/variables/variables.index
.ipynb_checkpoints/feature_grammar-checkpoint.ipynb
feature_grammar.ipynb
data/blimp/adjunct_island.jsonl
data/blimp/anaphor_gender_agreement.jsonl
data/blimp/anaphor_number_agreement.jsonl
data/blimp/animate_subject_passive.jsonl
data/blimp/animate_subject_trans.jsonl
data/blimp/causative.jsonl
data/blimp/complex_NP_island.jsonl
data/blimp/coordinate_structure_constraint_complex_left_branch.jsonl
data/blimp/coordinate_structure_constraint_object_extraction.jsonl
data/blimp/determiner_noun_agreement_1.jsonl
data/blimp/determiner_noun_agreement_2.jsonl
data/blimp/determiner_noun_agreement_irregular_1.jsonl
data/blimp/determiner_noun_agreement_irregular_2.jsonl
data/blimp/determiner_noun_agreement_with_adj_2.jsonl
data/blimp/determiner_noun_agreement_with_adj_irregular_1.jsonl
data/blimp/determiner_noun_agreement_with_adj_irregular_2.jsonl
data/blimp/determiner_noun_agreement_with_adjective_1.jsonl
data/blimp/distractor_agreement_relational_noun.jsonl
data/blimp/distractor_agreement_relative_clause.jsonl
data/blimp/drop_argument.jsonl
data/blimp/ellipsis_n_bar_1.jsonl
data/blimp/ellipsis_n_bar_2.jsonl
data/blimp/existential_there_object_raising.jsonl
data/blimp/existential_there_quantifiers_1.jsonl
data/blimp/existential_there_quantifiers_2.jsonl
data/blimp/existential_there_subject_raising.jsonl
data/blimp/expletive_it_object_raising.jsonl
data/blimp/inchoative.jsonl
data/blimp/intransitive.jsonl
data/blimp/irregular_past_participle_adjectives.jsonl
data/blimp/irregular_past_participle_verbs.jsonl
data/blimp/irregular_plural_subject_verb_agreement_1.jsonl
data/blimp/irregular_plural_subject_verb_agreement_2.jsonl
data/blimp/left_branch_island_echo_question.jsonl
data/blimp/left_branch_island_simple_question.jsonl
data/blimp/matrix_question_npi_licensor_present.jsonl
data/blimp/npi_present_1.jsonl
data/blimp/npi_present_2.jsonl
data/blimp/only_npi_licensor_present.jsonl
data/blimp/only_npi_scope.jsonl
data/blimp/passive_1.jsonl
data/blimp/passive_2.jsonl
data/blimp/principle_A_c_command.jsonl
data/blimp/principle_A_case_1.jsonl
data/blimp/principle_A_case_2.jsonl
data/blimp/principle_A_domain_1.jsonl
data/blimp/principle_A_domain_2.jsonl
data/blimp/principle_A_domain_3.jsonl
data/blimp/principle_A_reconstruction.jsonl
data/blimp/regular_plural_subject_verb_agreement_1.jsonl
data/blimp/regular_plural_subject_verb_agreement_2.jsonl
data/blimp/sentential_negation_npi_licensor_present.jsonl
data/blimp/sentential_negation_npi_scope.jsonl
data/blimp/sentential_subject_island.jsonl
data/blimp/superlative_quantifiers_1.jsonl
data/blimp/superlative_quantifiers_2.jsonl
data/blimp/tough_vs_raising_1.jsonl
data/blimp/tough_vs_raising_2.jsonl
data/blimp/transitive.jsonl
data/blimp/wh_island.jsonl
data/blimp/wh_questions_object_gap.jsonl
data/blimp/wh_questions_subject_gap_long_distance.jsonl
data/blimp/wh_questions_subject_gap.jsonl
data/blimp/wh_vs_that_no_gap_long_distance.jsonl
data/blimp/wh_vs_that_no_gap.jsonl
data/blimp/wh_vs_that_with_gap_long_distance.jsonl
data/blimp/wh_vs_that_with_gap.jsonl
data/fcfg/test_foaf.fcfg
data/fcfg/test_foaf2
data/fcfg/toy.fcfg
data/foaf/DanConnolly.rdf
data/foaf/ex1.rdf
data/lexicon.txt
Untitled.ipynb
Untitled1.ipynb
.ipynb_checkpoints/Untitled1-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
